@font-face {
    font-family: 'HechoAMano-Regular.ttf'; 
    src: url('../FONTS/HechoAMano-Regular.ttf')
  }

#title {text-align: center;
    font-size:85px; 
    font-family: 'HechoAMano-Regular.ttf';
    word-spacing: 20px;
    }
.pink-text{color:#fa60cc}
.blue-text{color:#7184eb ;}


nav {
    background-color: #1a5b66ea;
    color: #c8f9ff;
    padding: 1px;
  }
  
  nav ul {
    list-style: none;
    display: flex; /* Use flexbox to arrange list items horizontally */
    justify-content: space-around; /* Distribute items evenly along the horizontal axis */
margin-left: -110px;
}
  
  nav li {
    margin: 0; /* Remove the margin */
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
  }

 
  h2, h3, h4 {text-align: center;
font-size: 35px;}

  #title {text-align: center;

}

#aboutparagraph {font-size: 30px;
    word-spacing: 2;
    text-align: center;



}